
h1
{
	color: red; 
	font-size: 50px;
}
.body_background {
	background-image: url("bg1.jpg");
	background-size:cover;
	background-position: center;
}

#mycanvas{
background-color: white;
border:8px ridge grey;
}
